 

<div class="container">
    <h1 class="text-center mt-5">Administrator</h1>
    <%= render "admin/nav_links" %>
    <div class="text-center mt-5">
        <div class="btn btn-group">
            <%= link_to "Edit", edit_post_path(@post), class: "btn btn-warning" %>
            <%= button_to "Delete", @post, method: :delete, data: {confirm: "Are you Sure?"}, class: "btn btn-danger" %>
        </div>
    </div>
    <div class="row mt-1">
        <p>
            <strong>Title:</strong> <%= @post.title %>
        </p>
    </div>
    <div class="row mt-1">
        <p>
            <strong>Views:</strong> <%= @post.views %>
        </p>
    </div>
    <div class="row mt-1">
        <p>
            <strong>Author:</strong> <%= "#{@post.user.name} | #{@post.user.email}" %>
        </p>
    </div>
    <div class="row mt-1">
        <p>
            <strong>Body:</strong> <%= @post.body %>
        </p>
    </div>
    <div class="row mt-1">
    <strong>Comments</strong>
        <%= @post %>
        <% @post.comments.includes([:user, :rich_text_body]).each do |comment| %>
        <p>
            <%= comment.user.name %>
        </p>
        <p>
            <%= comment.body %>
        </p>
        <% end %>
    </div>
</div>