<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <h6><%= pluralize(post.views, "view") %></h6>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>
  <p>

    <% if post.user_id %>
      <strong>Posted by:</strong>
      <%= link_to "#{post.user.name}", user_path(post.user.id) %>
    <% end %>
  </p>
</div>
