

<h1>Posts</h1>

<div id="posts">
<%= search_form_for @q do |f| %>
  <%= f.search_field :title_or_body_cont, placeholder: "Search..." %>
  <%= f.submit "Search!" %>
<% end %>
  <%== pagy_bootstrap_nav(@pagy) %>
  
  <%= turbo_frame_tag "posts" do %>
    <%= render "posts" %>
  <% end %>

</div>

<%= link_to "New post", new_post_path %>
